*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

body {
  background-color: #131518;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: #3e52a3;
}

.nv-main {
  display: grid;
  place-items: center;
  height: max(100vh, 667px);
}

.nv-rating-component[data-state=hidden],
.nv-modal[data-state=hidden] {
  display: none;
}

.nv-rating-component {
  width: min(327px, 87.2%);
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  border-radius: 15px;
  padding: 24px 24px 32px 24px;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component {
    width: 412px;
  }
}
@media screen and (min-width: 1200px) {
  .nv-rating-component {
    padding: 32px 39px 32px 32px;
  }
}
.nv-rating-component .star-container {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #262e38;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .star-container {
    width: 48px;
    height: 48px;
  }
}
.nv-rating-component .star-container .star {
  width: 13.33px;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .star-container .star {
    width: 16.75px;
  }
}
.nv-rating-component .title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .title {
    margin-top: 36px;
    font-size: 28px;
    line-height: 35px;
  }
}
.nv-rating-component .text {
  margin-top: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #969fad;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .text {
    font-size: 15px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .text {
    margin-top: 9px;
  }
}
.nv-rating-component .form {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(5, 42px);
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .form {
    grid-template-columns: repeat(5, 51px);
  }
}
.nv-rating-component .form .label {
  display: grid;
  place-items: center;
}
.nv-rating-component .form .radio {
  appearance: none;
  position: absolute;
}
.nv-rating-component .form .value {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #262e38;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: #7c8798;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .form .value {
    width: 51px;
    height: 51px;
    font-size: 16px;
  }
}
.nv-rating-component .form .value:hover {
  background: #fc7614;
  color: white;
}
.nv-rating-component .form .radio:checked + .value {
  background: #7c8798;
  color: white;
}
.nv-rating-component .form .submit {
  margin-top: 24px;
  grid-column: 1/span 5;
  height: 45px;
  border-radius: 999px;
  border: none;
  background: #fc7614;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.86667px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .nv-rating-component .form .submit {
    margin-top: 32px;
    font-size: 15px;
  }
}
.nv-rating-component .form .submit:hover {
  color: #fc7614;
  background-color: white;
}

.nv-modal {
  width: min(327px, 87.2%);
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  border-radius: 15px;
  padding: 34px 24px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .nv-modal {
    width: 412px;
  }
}
@media screen and (min-width: 1200px) {
  .nv-modal {
    padding: 45px 40px 45px 32px;
  }
}
.nv-modal .image {
  height: 96px;
  width: auto;
}
@media screen and (min-width: 1200px) {
  .nv-modal .image {
    height: 108px;
  }
}
.nv-modal .user-rating {
  margin-top: 24px;
  padding: 5px 12px;
  background: #262e38;
  border-radius: 999px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #fc7614;
}
@media screen and (min-width: 1200px) {
  .nv-modal .user-rating {
    margin-top: 32px;
  }
}
.nv-modal .title {
  margin-top: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .nv-modal .title {
    margin-top: 32px;
    font-size: 28px;
    line-height: 35px;
  }
}
.nv-modal .text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #969fad;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .nv-modal .text {
    font-size: 15px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .nv-modal .text {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
